
# Ignore IDE folders
Code/Sandbox/\.idea/

# Ignore SonarQube analysis files
Code/Sandbox/\.scannerwork/

# Ignore macOS files
Code/\.DS_Store

# Ignore node_modules and bower_components
Code/Sandbox/node_modules
Code/Sandbox/bower_components
